body {
    margin: 0;
}

header {
    padding-left: 65px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 2;
}


.country-name{
    display: block;
    min-width: 100%;
    /* margin: 0px 50px; */
    position: fixed;
    background-color: white;
}

.flags-container {
    padding: 110px 0px 0px 105px;
    
}
 

.flagsList {
    list-style: none;
    margin: 70px 10px;
    /* position: relative; */
    /* overflow: auto; */
}

.flag {
    width: 300px;
    margin: 15px;
    border: 3px solid black;
}